@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

:root {
  --light-green: #a3c024;
  --yellow-two: #f6bd74;
  --dark-green: #71a511;
  --black: #130f40;
  --light-color: #afa356;
  --purple: #a098c2;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  --border: 0.2rem solid rgba(0, 0, 0, 0.1);
  --outline: 0.1rem solid rgba(0, 0, 0, 0.1);
  --outline-hover: 0.2rem solid var(--black);
}

/* styling the scrollbar  */
::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

/* styling the scrollbar */
::-webkit-scrollbar-thumb {
  background: #676768;
  border-radius: 10px;
  height: 10px;
}

/* main container for the page */
#mainContainer {
  height: 100%;
  background-color: var(--purple);
}

#navContainer {
  background-color: var(--light-color);
}

/*  */
#addHabitContainer {
  height: 15%;
  background-color: #85e6c5;
}

#addHabitContainer span {
  color: #33bbc5;
}

/* list of habits on the home page  */
#habitList {
  width: 45vw;
  height: auto;
  background-color: var(--yellow-two);
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* heading for habit list on the homepage */
#habitList h1 {
  color: var(--light-color);
}

.sticky-div {
  background-color: green;
  position: sticky;
  top: 0px;
  padding: 10px 0px;
}

.start {
  height: 100px;
}

.end {
  height: 5000px;
}

/* section of a single habit on Details page */
.list-item {
  background-color: var(--light-color);
}

/* button for adding new habits on homepage */
.add-btn {
  background-color: #33bbc5;
  color: white;
}

/* hovering style over the add habit button */
.add-btn:hover {
  border: 2px solid #33bbc5;
  color: #33bbc5;
  font-weight: 700;
}

/* card to show a single day habit status */
.day-card {
  background-color: #fff0f5;
  color: #322653;
}
